<mapper namespace ="com.smarthome.AIHome.mapper.DeviceMapper">
    <update id = "updateDevice">
        update device
        <set>
            <if test = "place != null and place !=''">
                place = #{place},
        </if>
            <if test = "name != null and name !=''">
                name = #{name},
            </if>
            <if test= "status != null">
                status = #{status},
            </if>
        </set>
        where device_id = #{deviceId}
    </update>

    <update id = "updateAC">
        update airconditioner
        <set>
            <if test="temperature != null">
                temperature = #{temperature},
            </if>
            <if test="fanSpeed != null">
                fan_speed = #{fanSpeed},
            </if>
            <if test="mode != null">
                mode = #{mode},
            </if>
        </set>
        where device_id = #{deviceId}
    </update>
</mapper>
